// This file is empty within the template
// You can use it to override CSS from within your project

.navigation {
  background-color: $primary-color;
  .ti-menu {
    color: white;
  }

  .navbar {
    a.nav-link {
      color: white;

      &:hover {
        color: white;
        text-decoration: underline;
      }
    }
    ul.navbar-nav {
      width: 100%;
      .filler {
        flex-grow: 1;
      }
    }
  }
}

footer {
  &.section.bg-light {
    background-color: $primary-color !important;
  }
}

.bg-light {
  color: $text-color-light;

  .feature-card {
    p,
    .paragraph {
      color: $text-color;
    }
  }

  p,
  .paragraph {
    font-weight: 400;
    color: $text-color-light;
    font-size: 16px;
    line-height: 1.7;
    font-family: $primary-font;
  }

  .btn-link {
    color: $text-color-light;
  }

  .h3 {
    color: $text-color-light;
  }

  a {
    color: $text-color-light;
    &:hover {
      color: $text-color-light;
      font-weight: 700;
    }
  }
}

.banner {
  padding: 30px 0 50px;
}

.full_page_container {
  margin-top: -24px;
  .container {
    padding: 0px;
    margin: 0px;
    max-width: 100%;

    h1 {
      z-index: 2;
      position: absolute;
      color: #fff;
      margin-left: 2rem;
      margin-top: 2em;
      width: 36rem;

      @include mobile {
        margin-top: 1.2em;
        margin-left: 0.8rem;
        font-size: 1.3em;
        width: 8rem;
      }
    }

    img {
      z-index: 1;
      position: relative;
      left: 0;
      right: 0;
    }
  }
}
