// Color Variables
$primary-color: #005fc4;
$black: #000;
$white: #fff;
$light: #66aefa;
$text-color: $black;
$text-color-dark: #222;
$text-color-light: white;
$body-color: #fff;
$border-color: #ececec;

// Font Variables
$primary-font: "Titillium Web", sans-serif;
$font-hosting: "google"; // [google|local|none]
$icon-font: "themify";
